# .gitignore

# Игнорировать файлы виртуального окружения
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать файлы базы данных SQLite (если использовалась ранее)
*.sqlite3
*.db

# Игнорировать файлы конфигурации с секретами
.env

# Игнорировать логи
*.log

# Другие специфичные для ОС или IDE файлы
.idea/
.vscode/
*.DS_Store
